@font-face {
  font-family: "Le Murmure";
  src: url("/fonts/Le_Murmure.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}